{{#if (gt total 1)}}
<nav class="pagination" aria-label="ページネーション">
  {{#if prevUrl}}<a href="{{prevUrl}}">前へ</a>{{/if}}
  {{#each pages}}
  {{#if (eq this.number ../current)}}
  <span aria-current="page">{{this.number}}</span>
  {{else}}
  <a href="{{this.url}}">{{this.number}}</a>
  {{/if}}
  {{/each}}
  {{#if nextUrl}}<a href="{{nextUrl}}">次へ</a>{{/if}}
</nav>
{{/if}}
