{{!-- トップページ用テンプレート（サンプル） --}}
{{!-- 製作者はこのファイルを自由に書き換えてデザインを構築できます --}}

<section class="home-hero">
  {{#if page.heroImage}}<img src="{{page.heroImage}}" alt="">{{/if}}
  <div class="container">
    {{#if page.heroHeading}}<h1>{{page.heroHeading}}</h1>{{/if}}
    {{#if page.heroSubheading}}<p>{{page.heroSubheading}}</p>{{/if}}
  </div>
</section>

{{#if page.carousel.length}}
<section class="home-carousel">
  <div class="container">
    <div class="carousel-track">
      {{#each page.carousel}}
        <figure class="carousel-slide">
          {{#if link}}<a href="{{link}}">{{/if}}
          {{#if image}}<img src="{{image}}" alt="{{caption}}">{{/if}}
          {{#if caption}}<figcaption>{{caption}}</figcaption>{{/if}}
          {{#if link}}</a>{{/if}}
        </figure>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

<section class="home-news">
  <div class="container">
    <h2>お知らせ</h2>
    <ul class="news-list">
      {{#each (latestItems 'news' 5 lang)}}
        <li>
          <a href="{{url}}">
            <time datetime="{{publishedAt}}">{{formatDate publishedAt}}</time>
            <span>{{title}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
    <p class="news-more"><a href="/{{#unless (eq lang defaultLang)}}{{lang}}/{{/unless}}news/">すべて見る</a></p>
  </div>
</section>

{{#if page.banners.length}}
<section class="home-banners">
  <div class="container">
    <ul class="banner-grid">
      {{#each page.banners}}
        <li>
          <a href="{{link}}"><img src="{{image}}" alt="{{alt}}"></a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
{{/if}}
