<div class="card-list">
  {{#each items}}
  <article class="card">
    {{!-- 画像が無ければサイト情報の既定OGP画像をサムネイルにフォールバック --}}
    {{#if (thumbnail this @root.site)}}<img src="{{thumbnail this @root.site}}" alt="{{this.title}}">{{/if}}
    <div class="card-body">
      <h3><a href="{{this.url}}">{{this.title}}</a></h3>
      {{#if this.date}}<time>{{this.date}}</time>{{/if}}
      {{#if this.excerpt}}<p>{{this.excerpt}}</p>{{/if}}
    </div>
  </article>
  {{/each}}
</div>
