{{> breadcrumb}}
<h1>{{type.label}}</h1>

<div class="card-list">
  {{#each items}}
  <article class="card">
    {{#if this.image}}<img src="{{this.image}}" alt="{{this.title}}">{{/if}}
    <div class="card-body">
      <h3><a href="{{this.url}}">{{this.title}}</a></h3>
      {{#if this.publishedAt}}<time>{{formatDate this.publishedAt "YYYY年MM月DD日"}}</time>{{/if}}
      <p>{{truncate this.body 120}}</p>
    </div>
  </article>
  {{/each}}
</div>

{{> pagination}}
